<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.hodor.admin.mapper.UserGroupsMapper">

    <resultMap type="org.dromara.hodor.admin.entity.UserGroups" id="UserGroupsMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="groupId" column="group_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserGroupsMap">
        select
          id, user_id, group_id
        from hodor_user_groups
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserGroupsMap">
        select
          id, user_id, group_id
        from hodor_user_groups
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId}
            </if>
        </where>
        limit #{pageNo}, #{pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from hodor_user_groups
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId}
            </if>
        </where>
    </select>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hodor_user_groups(user_id, group_id)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.userId}, #{entity.groupId})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hodor_user_groups(user_id, group_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.groupId})
        </foreach>
        on duplicate key update
        user_id = values(user_id),
        group_id = values(group_id)
    </insert>
</mapper>

