#app,
body,
html {
  height: 100%;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

/* header and menu */

.el-container .menu-scrollbar {
  background-color: #273a4a;
  height: 100%;
}

.el-container .el-scrollbar__wrap {
  overflow-x: hidden;
}

.el-container .el-scrollbar__thumb {
  background-color: #080808;
}

.el-container .el-menu {
  border-right: 0;
  background-color: transparent;
}

.el-container .el-menu .fa {
  margin: 0 14px 0 6px;
  width: 14px;
}

.el-container .el-menu-item i,
.el-container .el-submenu__title i {
  color: #FFFFFF;
}

.el-container .el-submenu__title,
.el-container .el-menu-item {
  color: #FFFFFF;
}

.el-container .el-submenu__title:hover {
  background-color: #323d4b;
}

.el-container .el-menu-item:hover {
  background-color: #323d4b;
  /* text-overflow: clip;
  white-space: nowrap;
  overflow-x: auto; */
}

.esearch-sub-menu {
  display: inline-block;
  margin-left: 22px;
}

.el-menu-vertical-in-home.el-menu:not(.el-menu--collapse) {
  width: 220px;
  min-height: 400px;
}

.el-menu-vertical-in-home.el-menu,
.home-container {
  height: 100%;
}

.el-menu-vertical-in-home.el-menu .home-aside-content,
.home-container .home-aside-content {
  width: auto !important;
  min-width: 65px;
  overflow-x: hidden;
  background-color: #282828;
}

.home-header {
  background-color: #3c8dbc;
  padding: 0;
  color: #FFFFFF;
  line-height: 60px;
  position: relative;
}

.home-header .logo-section {
  width: 220px;
  font-size: 20px;
  font-weight: 600;
  text-indent: 70px;
}

.home-header .esearch-logo {
  color: #42b983;
  font-size: 32px;
}

.home-header .menu-controller {
  font-size: 24px;
}

.home-header .menu-controller .fa {
  cursor: pointer;
}

.home-header .user-name {
  position: absolute;
  right: 40px;
}

.home-header .esearch-link {
  cursor: pointer;
  user-select: none;
  display: inline-block;
}

.el-menu-item.is-active {
  background-color: #19aa8d !important;
}

.el-main .el-button+.el-button,
.el-main .el-input+.el-button,
.el-main .el-select+.el-button {
  margin-left: 4px;
}

.esearch-control-group {
  line-height: 35px;
}

.esearch-control-group .form-control-mini,
.esearch-control-group .hash-label {
  margin-right: 5px;
}

.esearch-control-group .operation-icon {
  font-weight: 600;
  font-size: 20px;
  color: #ccc;
  margin-top: 2px;
}

.esearch-control-group i {
  font-weight: 600;
  color: #ccc;
}

.esearch-control-group label {
  width: 8em;
  text-align: right;
  margin-right: 1em;
}

.redis-edit-form .form-control {
  width: calc(100% - 200px);
}

.redis-edit-form .form-control-mini {
  width: calc(50% - 140px);
}

.v--modal-box.v--modal {
  max-height: 800px;
  max-width: 1200px;
}

.json-viewer .el-scrollbar__thumb {
  background-color: #9a9a9a;
}

.json-viewer .Canvas {
  max-height: 600px;
}

.dialog .dialog-header {
  line-height: 40px;
  text-indent: 11px;
}

.dialog .dialog-header .top-right.el-icon-close {
  float: right;
  margin: 11px 11px 0 0;
  cursor: pointer;
}

.dialog .dialog-body {
  padding: 11px 11px 20px;
  overflow: hidden;
}

.dialog-header-border {
  border-bottom: 1px solid #eeeeee;
}

.es-cluster-content .el-table {
  margin-top: 10px;
}

.cluster-node-port {
  margin-left: 12px;
  font-weight: 600;
}

.index-cluster-checkbox {
  margin: 12px 5px 0 0;
}

/*   icon   */

.dialog-warning-icon {
  border-color: #f8bb86;
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.dialog-warning-icon .warning-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86;
}

.dialog-warning-icon .warning-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86;
}

.dialog-tip-icon {
  width: 80px;
  height: 80px;
  border: 4px solid #c9dae1;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.dialog-tip-icon::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #c9dae1;
}

.dialog-tip-icon::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #c9dae1;
}

.dialog-error-icon {
  position: relative;
  display: block;
  border: 5px solid #f27474;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 20px auto 0;
}

.dialog-error-icon .error-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #f27474;
  display: block;
  top: 37px;
  border-radius: 2px;
}

.dialog-error-icon .error-left {
  transform: rotate(45deg);
  left: 17px;
}

.dialog-error-icon .error-right {
  transform: rotate(-45deg);
  right: 16px;
}

.dialog-success-icon::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  transform: rotate(-45deg);
  transform-origin: 60px 60px;
}

.dialog-success-icon {
  width: 80px;
  height: 80px;
  border: 4px solid #42b983;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.dialog-success-icon .success-line {
  height: 5px;
  background-color: #42b983;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.dialog-success-icon .success-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  transform: rotate(45deg);
}

.dialog-success-icon .success-long {
  width: 47px;
  right: 8px;
  top: 38px;
  transform: rotate(-45deg);
}

.confirm-dialog {
  text-align: center;
  padding: 25px;
  overflow: hidden;
}

.confirm-dialog h2 {
  color: #575757;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block;
}

.confirm-dialog p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.confirm-dialog .buttons-area {
  margin-top: 10px;
}

#ControlsRow {
  padding: 4px 0;
  font-size: 12px;
}

#ControlsRow input[type="checkbox"] {
  position: relative;
  vertical-align: middle;
}

.controllers-panel {
  margin-bottom: 8px;
}

.home-page {
  height: 100%;
}

.home-page .home-page-header {
  height: 50px;
}

/* chart */

.charts-container {
  height: 100%;
}

.charts-container .chart-wrapper {
  padding: 10px 0 0 16px;
}

.charts-container .esearch-chart {
  height: 100%;
  width: 98%;
}

.charts-container .date-time-select-area {
  float: right;
  margin-right: 4%;
}

.date-picker-container {
  height: 250px;
}

.chart-mediem {
  height: 360px;
}

.chart-mediem .esearch-chart {
  width: 100%;
  height: 340px;
}

@media only screen and (max-width: 1024px) {
  .chart-mediem {
    width: 96%;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1025px) {
  .chart-mediem {
    width: 48%;
  }
}

@media only screen and (min-width: 1601px) {
  .chart-mediem {
    width: 32%;
  }
}

.chart-title {
  font-weight: 600;
  font-size: 16px;
}

.popover-left {
  padding-left: 5px;
  width: 320px;
  border-right: 1px solid #b1b1b1;
}

.popover-left h2,
.popover-right h2 {
  margin-bottom: 10px;
}

.popover-right {
  padding-left: 20px;
  line-height: 26px;
}

.popover-right p {
  cursor: pointer;
}

.popover-right p:hover {
  color: #42b983;
}

.calender-panel {
  padding: 5px 0;
}

.calender-panel .form-control-medium {
  width: 260px;
}

.calender-panel .el-button--mini {
  position: relative;
  top: 1px;
  padding: 6px 8px;
}

.calender-panel .fa {
  font-size: 20px;
  color: #FFFFFF;
}

.calender-panel .vdp-datepicker__calendar {
  border: 0;
}

.calender-panel .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.calender-panel .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.calender-panel .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid #42b983;
}

.calender-panel .vdp-datepicker__calendar .cell.selected {
  background: #42b983;
}

.calender-panel .vdp-datepicker__calendar .cell.selected:hover {
  background: #42b983;
}

.calender-panel .vdp-datepicker__calendar .cell.selected.highlighted {
  background: #42b983;
}

/* dic */

.dic-pagination {
  height: 40px;
  overflow: hidden;
  padding-top: 4px;
}

.dic-control {
  width: 416px;
}

/*  system  */

.role-detail,
.user-detail {
  height: 100%;
}

.role-detail .form-control,
.user-detail .form-control {
  width: 520px;
}

.role-detail .el-scrollbar,
.user-detail .el-scrollbar {
  border: 1px dashed #dcdfe6;
}

.role-detail .el-scrollbar__thumb,
.user-detail .el-scrollbar__thumb {
  background-color: #666666;
}

.role-detail .button-bottom,
.user-detail .button-bottom {
  margin-left: 8.5em;
  padding-bottom: 20px;
}

.ztree-container.ztree {
  margin-left: 0.5em;
  width: 500px;
}

.menu-detail .header-title,
.role-detail .header-title,
.user-detail .header-title {
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  padding: 0 0 12px 130px;
  margin-bottom: 1.2em;
}

.menu-detail .button-bottom,
.role-detail .button-bottom,
.user-detail .button-bottom {
  margin-left: 8.5em;
  padding-bottom: 20px;
}

.el-input.is-disabled .el-input__inner {
  cursor: pointer;
}

.role-detail .ztree li a:hover {
  text-decoration: none;
}

.role-detail .ztree li a.curSelectedNode {
  opacity: 1;
  color: #333;
  background-color: transparent;
}

.select-menu-window {
  padding: 0 12px;
}

.el-container .el-table th,
.el-table td {
  padding: 6px 0;
}

.topContent {
  margin-left: 25px;
}

.menu-controller {
  margin: 0px 10px;
}

.gohome .el-submenu__title .logDiv {
  color: white !important;
  font-size: 24px;
}

.gohome .el-submenu__title .el-submenu__icon-arrow {
  color: transparent;
}

.el-icon-ump-alignjustify {
  font-size: 30px;
}

.el-footer {
  background-color: #dcdfe6;
  color: #333;
  text-align: center;
  line-height: 20px;
  height: 20px !important;
}

.el-menu-item {
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}

.el-menu-item.is-active {
  color: white !important;
}

.width100 {
  width: 100%;
}

.helpA {
  color: white;
  display: inline-block;
  width: 100%;
  height: 100%;
}
