.bg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bg {

    background-size: cover;
    /* background: linear-gradient(to bottom right, #2196F3,#049ec4,#1E7FEF); */
  }

  .logo {
    padding: 60px;
    width: 320px;
    background-image:url('../images/logo.png');
    background-color: #cccccc;
  }

  .form {
    /* background-color: #1d7fcc; */
    padding: 50px;
    width: 370px;
    /* border-bottom: 8px solid #8ceece; */
    border-radius: 30px 30px 50px 50px;
  }
  .login-btn {
    background: rgba(79, 195, 160, 1);
    border-radius: 2px;
    color: white;
    width: 100%;
  }
  .word {
    font-size: 40px;
    font-family: MicrosoftYaHei;
    color: #ffffff;
    line-height: 31px;
    text-align: center
  }
