<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.dromara.hodor.core.mapper.JobExecDetailMapper">

    <sql id="Base_Column_List">
        id, group_name, job_name, scheduler_endpoint, actuator_endpoint, schedule_start, execute_status
    </sql>

    <insert id="insertIgnore" parameterType="org.dromara.hodor.core.entity.JobExecDetail">
        INSERT IGNORE INTO hodor_job_exec_detail (id, group_name, job_name, scheduler_endpoint, actuator_endpoint, schedule_start, execute_status)
        VALUES  (#{id}, #{groupName}, #{jobName}, #{schedulerEndpoint}, #{actuatorEndpoint}, #{scheduleStart}, #{executeStatus})
    </insert>

</mapper>
