html,
body,
#app {
    height: 100%;
    font-size: 14px
}

.home-container,
.el-menu-vertical-in-home.el-menu {
    height: 100%;
}

.el-menu-item.is-active {
    background-color: rgb(24, 28, 31) !important;
}

.home-header {
    background-color: #24292E;
}

.redis-control-panel {
    padding: 8px;
}
